body {
    background-color: var(--black);
}

/*
    -------------------------------------------------------- LISTE DES ARTICLES (page articles/index.php) -------------------------------------------------------- 
*/
.bloc-article {
    border: 4px double var(--green2);
    border-radius: 15px;
    width: calc(250px + 20vw);
}

.text-article, .article-points{
    background-color: var(--white);
}

.text-article {
    border-radius: 9px 9px 0 0;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
    -------------------------------------------------------- LIRE UN ARTICLE (page articles/lire.php) -------------------------------------------------------- 
*/
.article-date{
    border-bottom: 1px solid var(--green2);
}

.bloc-lireArticle {
    border: 4px double var(--green2);
    border-radius: 15px;
    width: calc(150px + 50vw);
}

.text-lireArticle {
    background-color: var(--white);
    border-radius: 9px 9px 0 0;
    color: var(--black);
}

.article-date{
    border-bottom: 1px solid var(--green2);
}

/*
    -------------------------------------------------------- LISTE DE 3 ARTICLES (page d'accueil) -------------------------------------------------------- 
*/
.bloc-article2 {
    border: 4px double var(--green2);
    border-radius: 15px;
    width: calc(260px + 15vw);
}
