body {
    background-color: var(--black);
}

/*
    -------------------------------------------------------- ARTICLES -------------------------------------------------------- 
*/
.bloc-article {
    border: 4px double var(--green2);
    border-radius: 15px;
    width: calc(250px + 20vw);
}

/*
    -------- LISTE DE 3 ARTICLES (page d'accueil) --------
*/
.bloc-article2 {
    border: 4px double var(--green2);
    border-radius: 15px;
    width: calc(260px + 15vw);
}

/*
    -------- LISTE DE 3 ARTICLES (page d'accueil) --------
*/
.bloc-lire-article {
    border: 4px double var(--green2);
    border-radius: 15px;
    width: calc(185px + 40vw);
}



.text-article, .titre-article, .date-article, .lire-text-article {
    color: var(--black);
    background-color: var(--white);
}

.titre-article{
    font-weight: bold;
    border-radius: 9px 9px 0 0;
}

.text-article {
    overflow: hidden;
    text-overflow: ellipsis;
}

.lire-text-article{
    border-radius: 0px 0px 9px 9px;
}


/*
    -------- COMMENTAIRE --------
*/
.post-form {
    border: 4px double var(--green2);
    border-radius: 15px;
    width: calc(250px + 20vw);
}

.post-textarea {
    width: 95%;
}