a, select, button, label, h1, h2, h3, h4, h5, h6, .input-title,.succes, .alert {
    letter-spacing: calc(1px + 0.13vw);
}

a, select, .input-title,.succes {
    color: var(--text-green2);
}

.alert {
    color: var(--text-red);
}

button{
    color: var(--white);
}

button, .input-title {
    padding: calc(3px + 0.15vw) calc(8px + 0.15vw) calc(3px + 0.15vw) calc(8px + 0.15vw);
    background-color: var(--darkGrey);
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--green2);
    transition: 0.5s; 
}

a:hover, button:hover {
    color: var(--text-green1);
}


button:active, .input-title:active {
    outline: none;
    color: var(--text-green1); 
    border: 1px solid var(--green1); 
}

/*
    ------- MENU SELECT -------
*/
.select-style2 {
    /* overflow: hidden; */
    position: relative;
    border: none;
}

.select-style2 {
    font-family: var(--font-roboLight);
    background-color: var(--black);
    border: 1px solid var(--green2);
    border-radius: 5px;
    width: calc(200px + 2vw);
    box-shadow: none;
    transition: 0.2s;
}

.select-style2:hover {
    color: var(--text-green1);
}

.select-style2:focus {
    color: var(--text-green2);
    outline: none;
}