a, select, button, label, h1, h2, h3, h4, h5, h6, .input-title,.succes, .alert {
    letter-spacing: calc(1px + 0.13vw);
}

a, select, .input-title,.succes {
    color: var(--text-green2);
}

.alert {
    color: var(--text-red);
}

button{
    color: var(--white);
}

button, .input-title {
    padding: calc(3px + 0.15vw) calc(8px + 0.15vw) calc(3px + 0.15vw) calc(8px + 0.15vw);
    background-color: var(--darkGrey);
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--green2);
    transition: 0.5s; 
}

a:hover, a:focus{
    color: var(--text-green1);
}


button:active, .input-title:active {
    outline: none;
    color: var(--text-green1); 
    border: 1px solid var(--green1); 
}