*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{padding: 50px 0;}
html {scroll-behavior: smooth;}
body{height: 100vh; color: var(--white);}
body, input, button {font-size: calc(14px + 0.15vw);}
ul {list-style-type: none;}
h1, h2, h3, h4, h5, h6 {font-family: var(--font-poppLight);}
p, a, button, input {font-family: var(--font-roboLight);}

a, .unselectable {
    text-decoration: none;
    user-select: none;
    transition: 0.5s;
}

.text-center {text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.input-title {
    width: calc(230px + 20vw);
    height: calc(30px + 0.8vw);
}

/*
    ------------------------------------------------------ HEADER / NAVBAR / FOOTER ------------------------------------------------------
*/
.header {
    top: 0;
    font-size: 14px;
}

.footer {
    bottom: 0;
}

.header, .footer {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--black);
}

.header::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    width: 100%;
    height: 2px;
}

.footer::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1px;
    width: 100%;
    height: 2px;
}

.header::before, .footer::after {
    background: var(--green2);
    box-shadow: 0 0 4px var(--green2), 0 0 8px var(--green2), 0 0 10px var(--green2), 0 0 25px var(--green2);
}

.nav-a, .select-style select{
    color: var(--text-green2);
}

.logo{
    font-family: var(--font-poppLight);
    color: var(--text-white);
}

.spanLogo{
    font-size: calc(20px + 0.15vw);
    color: var(--green2);
}

.nav-a {
    display: block;
}

.nav-a:hover {
    color: var(--text-green1);
}

.hamburger {
    display: none;
    width: 30px;
    height: 30px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-green2);
}

/*
    ------- MENU SELECT -------
*/
.select-style {
    /* overflow: hidden; */
    position: relative;
    border: none;
}

.select-style select {
    font-family: var(--font-roboLight);
    font-size: 14px;
    width: 120%;
    background-color: var(--black);
    box-shadow: none;
    border: none;
    transition: 0.2s;
}

.titleSelect {
    display: none;
}

.select-style select:hover {
    color: var(--text-green1);
}

.select-style select:focus {
    color: var(--text-green2);
    outline: none;
    border: none;
}

/*
    ------------------------------------------------------ COLORS ------------------------------------------------------
*/
:root {
    /* --------------- TEXT COLOR ----------------- */
    --text-black: rgb(0, 0, 0);
    --text-white: rgb(255, 255, 255);
    --text-grey: rgb(121, 121, 121);
    --text-green1: rgb(0, 197, 158);
    --text-green2: rgb(8, 248, 200);
    --text-red: rgb(255, 95, 95);
    --text-blue: rgb(111, 162, 255);
    --text-yellow: rgb(255, 202, 58);

    /* --------------- COLORS ----------------- */
    --black: rgb(0, 0, 0);
    --darkGrey: rgb(14, 14, 14);
    --white: rgb(255, 255, 255);
    --green1: rgb(0, 197, 158);
    --green2: rgb(8, 248, 200);
    --red: rgb(255, 95, 95);
    --blue: rgb(111, 162, 255);
    --yellow: rgb(255, 202, 58);
    --violet: rgb(189, 31, 252);

    /* --------------- COLORS ----------------- */
    --font-poppLight: 'Poppins', arial, sans-serif;
    --font-roboLight: 'Roboto', arial, sans-serif;
}

/*
    ------------------------------------------------------ FLEXBOX ------------------------------------------------------
*/
.flex {display: flex;}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.centerAll {
    justify-content: center;
    align-items: center;
}

/*
    ------------ JUSTIFY-CONTENT ------------ 
*/
.justify-content-start {justify-content: flex-start;}
.justify-content-center {justify-content: center;}
.justify-content-end {justify-content: flex-end;}
.justify-content-between {justify-content: space-between;}
.justify-content-around {justify-content: space-around;}
.justify-content-evenly {justify-content: space-evenly;}
/*
    ------------ ALIGN-ITEMS ------------ 
*/
.align-items-start {align-items: flex-start;}
.align-items-center {align-items: center;}
.align-items-end {align-items: flex-end;}

/*
    ------------------------------------------------------ FONT-SIZE ------------------------------------------------------
*/
.ft-1 {font-size: calc(8px + 0.15vw);}
.ft-2 {font-size: calc(14px + 0.15vw);}
.h1 {font-size: calc(30px + 0.35vw);}
.h2 {font-size: calc(23px + 0.15vw);}
.h3 {font-size: calc(19px + 0.15vw);}
.h4 {font-size: calc(16px + 0.15vw);}

/*
    ------------------------------------------------------ MARGIN ------------------------------------------------------
*/
/*
    ------- MARGIN -------
*/
.m-0 {margin:0;}
/*320*600 = ~3.46px / 1920*1080 = ~5.86px, 4K = ~8.75px*/
.m-1 {margin: calc(3px + 0.15vw);}
/*320*600 = ~6.46px / 1920*1080 = ~8.86px, 4K = ~11.75px*/
.m-2 {margin: calc(6px + 0.15vw);}
/*320*600 = ~9.46px / 1920*1080 = ~11.86px, 4K = ~14.75px*/
.m-3 {margin: calc(9px + 0.15vw);}
/*320*600 = ~12.46px / 1920*1080 = ~14.86px, 4K = ~17.75px*/
.m-4 {margin: calc(12px + 0.15vw);}
/*320*600 = ~15.46px / 1920*1080 = ~17.86px, 4K = ~21.75px*/
.m-5 {margin: calc(15px + 0.15vw);}
/*320*600 = ~26.4px / 1920*1080 = ~58.4px / 4K = ~96.8px*/
.m-6 {margin: calc(20px + 2vw);}
/*320*600 = ~27.35px / 1920*1080 = ~64.15px / 4K = ~108.31px*/
.m-7 {margin: calc(20px + 2.3vw);}
/*320*600 = ~28.31px / 1920*1080 = ~69.91px / 4K = ~119.83px*/
.m-8 {margin: calc(20px + 2.6vw);}
/*320*600 = ~29.26px / 1920*1080 = ~75.66px / 4K = ~131.23px*/
.m-9 {margin: calc(20px + 2.9vw);}
/*320*600 = ~30.23px / 1920*1080 = ~81.43px / 4K = ~142.867px*/
.m-10 {margin: calc(20px + 3.2vw);}
/*
    ------- MARGIN-TOP -------
*/
.mt-0 {margin-top:0;}
.mt-1 {margin-top: calc(3px + 0.15vw);}
.mt-2 {margin-top: calc(6px + 0.15vw);}
.mt-3 {margin-top: calc(9px + 0.15vw);}
.mt-4 {margin-top: calc(12px + 0.15vw);}
.mt-5 {margin-top: calc(15px + 0.15vw);}
.mt-6 {margin-top: calc(20px + 2vw);}
.mt-7 {margin-top: calc(20px + 2.3vw);}
.mt-8 {margin-top: calc(20px + 2.6vw);}
.mt-9 {margin-top: calc(20px + 2.9vw);}
.mt-10 {margin-top: calc(20px + 3.2vw);}
/*
    ------- MARGIN-BOTTOM -------
*/
.mb-0 {margin-bottom:0;}
.mb-1 {margin-bottom: calc(3px + 0.15vw);}
.mb-2 {margin-bottom: calc(6px + 0.15vw);}
.mb-3 {margin-bottom: calc(9px + 0.15vw);}
.mb-4 {margin-bottom: calc(12px + 0.15vw);}
.mb-5 {margin-bottom: calc(15px + 0.15vw);}
.mb-6 {margin-bottom: calc(20px + 2vw);}
.mb-7 {margin-bottom: calc(20px + 2.3vw);}
.mb-8 {margin-bottom: calc(20px + 2.6vw);}
.mb-9 {margin-bottom: calc(20px + 2.9vw);}
.mb-10 {margin-bottom: calc(20px + 3.2vw);}
/*
    ------- MARGIN-RIGHT -------
*/
.mr-0 {margin-right:0;}
.mr-1 {margin-right: calc(3px + 0.15vw);}
.mr-2 {margin-right: calc(6px + 0.15vw);}
.mr-3 {margin-right: calc(9px + 0.15vw);}
.mr-4 {margin-right: calc(12px + 0.15vw);}
.mr-5 {margin-right: calc(15px + 0.15vw);}
.mr-6 {margin-right: calc(20px + 2vw);}
.mr-7 {margin-right: calc(20px + 2.3vw);}
.mr-8 {margin-right: calc(20px + 2.6vw);}
.mr-9 {margin-right: calc(20px + 2.9vw);}
.mr-10 {margin-right: calc(20px + 3.2vw);}
/*
    ------- MARGIN-LEFT -------
*/
.ml-0 {margin-left:0;}
.ml-1 {margin-left: calc(3px + 0.15vw);}
.ml-2 {margin-left: calc(6px + 0.15vw);}
.ml-3 {margin-left: calc(9px + 0.15vw);}
.ml-4 {margin-left: calc(12px + 0.15vw);}
.ml-5 {margin-left: calc(15px + 0.15vw);}
.ml-6 {margin-left: calc(20px + 2vw);}
.ml-7 {margin-left: calc(20px + 2.3vw);}
.ml-8 {margin-left: calc(20px + 2.6vw);}
.ml-9 {margin-left: calc(20px + 2.9vw);}
.ml-10 {margin-left: calc(20px + 3.2vw);}
/*
    ------- MARGIN-X -------
*/
.mx-0 {margin-right:0; margin-left:0;}
.mx-1 {margin-right: calc(3px + 0.15vw); margin-left: calc(3px + 0.15vw);}
.mx-2 {margin-right: calc(6px + 0.15vw); margin-left: calc(6px + 0.15vw);}
.mx-3 {margin-right: calc(9px + 0.15vw); margin-left: calc(9px + 0.15vw);}
.mx-4 {margin-right: calc(12px + 0.15vw); margin-left: calc(12px + 0.15vw);}
.mx-5 {margin-right: calc(15px + 0.15vw); margin-left: calc(15px + 0.15vw);}
.mx-6 {margin-right: calc(20px + 2vw); margin-left: calc(20px + 2vw);}
.mx-7 {margin-right: calc(20px + 2.3vw); margin-left: calc(20px + 2.3vw);}
.mx-8 {margin-right: calc(20px + 2.6vw); margin-left: calc(20px + 2.6vw);}
.mx-9 {margin-right: calc(20px + 2.9vw); margin-left: calc(20px + 2.9vw);}
.mx-10 {margin-right: calc(20px + 3.2vw); margin-left: calc(20px + 3.2vw);}
/*
    ------- MARGIN-Y -------
*/
.my-0 {margin-top:0; margin-bottom:0;}
.my-1 {margin-top: calc(3px + 0.15vw); margin-bottom: calc(3px + 0.15vw);}
.my-2 {margin-top: calc(6px + 0.15vw); margin-bottom: calc(6px + 0.15vw);}
.my-3 {margin-top: calc(9px + 0.15vw); margin-bottom: calc(9px + 0.15vw);}
.my-4 {margin-top: calc(12px + 0.15vw); margin-bottom: calc(12px + 0.15vw);}
.my-5 {margin-top: calc(15px + 0.15vw); margin-bottom: calc(15px + 0.15vw);}
.my-6 {margin-top: calc(20px + 2vw); margin-bottom: calc(20px + 2vw);}
.my-7 {margin-top: calc(20px + 2.3vw); margin-bottom: calc(20px + 2.3vw);}
.my-8 {margin-top: calc(20px + 2.6vw); margin-bottom: calc(20px + 2.6vw);}
.my-9 {margin-top: calc(20px + 2.9vw); margin-bottom: calc(20px + 2.9vw);}
.my-10 {margin-top: calc(20px + 3.2vw); margin-bottom: calc(20px + 3.2vw);}

/*
    ------------------------------------------------------ PADDING ------------------------------------------------------
*/
/*
    ------- PADDING -------
*/
.p-0 {padding:0;}
/*320*600 = ~3.46px / 1920*1080 = ~5.86px, 4K = ~8.75px*/
.p-1 {padding: calc(3px + 0.15vw);}
/*320*600 = ~6.46px / 1920*1080 = ~8.86px, 4K = ~11.75px*/
.p-2 {padding: calc(6px + 0.15vw);}
/*320*600 = ~9.46px / 1920*1080 = ~11.86px, 4K = ~14.75px*/
.p-3 {padding: calc(9px + 0.15vw);}
/*320*600 = ~12.46px / 1920*1080 = ~14.86px, 4K = ~17.75px*/
.p-4 {padding: calc(12px + 0.15vw);}
/*320*600 = ~15.46px / 1920*1080 = ~17.86px, 4K = ~21.75px*/
.p-5 {padding: calc(15px + 0.15vw);}
/*320*600 = ~26.4px / 1920*1080 = ~58.4px / 4K = ~96.8px*/
.p-6 {padding: calc(20px + 2vw);}
/*320*600 = ~27.35px / 1920*1080 = ~64.15px / 4K = ~108.31px*/
.p-7 {padding: calc(20px + 2.3vw);}
/*320*600 = ~28.31px / 1920*1080 = ~69.91px / 4K = ~119.83px*/
.p-8 {padding: calc(20px + 2.6vw);}
/*320*600 = ~29.26px / 1920*1080 = ~75.66px / 4K = ~131.23px*/
.p-9 {padding: calc(20px + 2.9vw);}
/*320*600 = ~30.23px / 1920*1080 = ~81.43px / 4K = ~142.867px*/
.p-10 {padding: calc(20px + 3.2vw);}
/*
    ------- PADDING-TOP -------
*/
.pt-0 {padding-top:0;}
.pt-1 {padding-top: calc(3px + 0.15vw);}
.pt-2 {padding-top: calc(6px + 0.15vw);}
.pt-3 {padding-top: calc(9px + 0.15vw);}
.pt-4 {padding-top: calc(12px + 0.15vw);}
.pt-5 {padding-top: calc(15px + 0.15vw);}
.pt-6 {padding-top: calc(20px + 2vw);}
.pt-7 {padding-top: calc(20px + 2.3vw);}
.pt-8 {padding-top: calc(20px + 2.6vw);}
.pt-9 {padding-top: calc(20px + 2.9vw);}
.pt-10 {padding-top: calc(20px + 3.2vw);}
/*
    ------- PADDING-BOTTOM -------
*/
.pb-0 {padding-bottom:0;}
.pb-1 {padding-bottom: calc(3px + 0.15vw);}
.pb-2 {padding-bottom: calc(6px + 0.15vw);}
.pb-3 {padding-bottom: calc(9px + 0.15vw);}
.pb-4 {padding-bottom: calc(12px + 0.15vw);}
.pb-5 {padding-bottom: calc(15px + 0.15vw);}
.pb-6 {padding-bottom: calc(20px + 2vw);}
.pb-7 {padding-bottom: calc(20px + 2.3vw);}
.pb-8 {padding-bottom: calc(20px + 2.6vw);}
.pb-9 {padding-bottom: calc(20px + 2.9vw);}
.pb-10 {padding-bottom: calc(20px + 3.2vw);}
/*
    ------- PADDING-RIGHT -------
*/
.pr-0 {padding-right:0;}
.pr-1 {padding-right: calc(3px + 0.15vw);}
.pr-2 {padding-right: calc(6px + 0.15vw);}
.pr-3 {padding-right: calc(9px + 0.15vw);}
.pr-4 {padding-right: calc(12px + 0.15vw);}
.pr-5 {padding-right: calc(15px + 0.15vw);}
.pr-6 {padding-right: calc(20px + 2vw);}
.pr-7 {padding-right: calc(20px + 2.3vw);}
.pr-8 {padding-right: calc(20px + 2.6vw);}
.pr-9 {padding-right: calc(20px + 2.9vw);}
.pr-10 {padding-right: calc(20px + 3.2vw);}
/*
    ------- PADDING-LEFT -------
*/
.pl-0 {padding-left:0;}
.pl-1 {padding-left: calc(3px + 0.15vw);}
.pl-2 {padding-left: calc(6px + 0.15vw);}
.pl-3 {padding-left: calc(9px + 0.15vw);}
.pl-4 {padding-left: calc(12px + 0.15vw);}
.pl-5 {padding-left: calc(15px + 0.15vw);}
.pl-6 {padding-left: calc(20px + 2vw);}
.pl-7 {padding-left: calc(20px + 2.3vw);}
.pl-8 {padding-left: calc(20px + 2.6vw);}
.pl-9 {padding-left: calc(20px + 2.9vw);}
.pl-10 {padding-left: calc(20px + 3.2vw);}
/*
    ------- PADDING-X -------
*/
.px-0 {padding-right:0; padding-left:0;}
.px-1 {padding-right: calc(3px + 0.15vw); padding-left: calc(3px + 0.15vw);}
.px-2 {padding-right: calc(6px + 0.15vw); padding-left: calc(6px + 0.15vw);}
.px-3 {padding-right: calc(9px + 0.15vw); padding-left: calc(9px + 0.15vw);}
.px-4 {padding-right: calc(12px + 0.15vw); padding-left: calc(12px + 0.15vw);}
.px-5 {padding-right: calc(15px + 0.15vw); padding-left: calc(15px + 0.15vw);}
.px-6 {padding-right: calc(20px + 2vw); padding-left: calc(20px + 2vw);}
.px-7 {padding-right: calc(20px + 2.3vw); padding-left: calc(20px + 2.3vw);}
.px-8 {padding-right: calc(20px + 2.6vw); padding-left: calc(20px + 2.6vw);}
.px-9 {padding-right: calc(20px + 2.9vw); padding-left: calc(20px + 2.9vw);}
.px-10 {padding-right: calc(20px + 3.2vw); padding-left: calc(20px + 3.2vw);}
/*
    ------- PADDING-Y -------
*/
.py-0 {padding-top:0; padding-bottom:0;}
.py-1 {padding-top: calc(3px + 0.15vw); padding-bottom: calc(3px + 0.15vw);}
.py-2 {padding-top: calc(6px + 0.15vw); padding-bottom: calc(6px + 0.15vw);}
.py-3 {padding-top: calc(9px + 0.15vw); padding-bottom: calc(9px + 0.15vw);}
.py-4 {padding-top: calc(12px + 0.15vw); padding-bottom: calc(12px + 0.15vw);}
.py-5 {padding-top: calc(15px + 0.15vw); padding-bottom: calc(15px + 0.15vw);}
.py-6 {padding-top: calc(20px + 2vw); padding-bottom: calc(20px + 2vw);}
.py-7 {padding-top: calc(20px + 2.3vw); padding-bottom: calc(20px + 2.3vw);}
.py-8 {padding-top: calc(20px + 2.6vw); padding-bottom: calc(20px + 2.6vw);}
.py-9 {padding-top: calc(20px + 2.9vw); padding-bottom: calc(20px + 2.9vw);}
.py-10 {padding-top: calc(20px + 3.2vw); padding-bottom: calc(20px + 3.2vw);}

/*
    ------------------------------------------------------ WIDTH/HEIGHT ------------------------------------------------------
*/
/*
    ------- WIDTH -------
*/
.w-5{width: 5%;}
.w-10{width: 10%;}
.w-15{width: 15%;}
.w-20{width: 20%;}
.w-25{width: 25%;}
.w-30{width: 30%;}
.w-35{width: 35%;}
.w-40{width: 40%;}
.w-45{width: 45%;}
.w-50{width: 50%;}
.w-55{width: 55%;}
.w-60{width: 60%;}
.w-65{width: 65%;}
.w-70{width: 70%;}
.w-75{width: 75%;}
.w-80{width: 80%;}
.w-85{width: 85%;}
.w-90{width: 90%;}
.w-95{width: 95%;}
.w-100{width: 100%;}

/*
    ------- HEIGHT -------
*/
.h-5{height: 5%;}
.h-10{height: 10%;}
.h-15{height: 15%;}
.h-20{height: 20%;}
.h-25{height: 25%;}
.h-30{height: 30%;}
.h-35{height: 35%;}
.h-40{height: 40%;}
.h-45{height: 45%;}
.h-50{height: 50%;}
.h-55{height: 55%;}
.h-60{height: 60%;}
.h-65{height: 65%;}
.h-70{height: 70%;}
.h-75{height: 75%;}
.h-80{height: 80%;}
.h-85{height: 85%;}
.h-90{height: 90%;}
.h-95{height: 95%;}
.h-100{height: 100%;}


.vh-5{height: 5vh;}
.vh-10{height: 10vh;}
.vh-15{height: 15vh;}
.vh-20{height: 20vh;}
.vh-25{height: 25vh;}
.vh-30{height: 30vh;}
.vh-35{height: 35vh;}
.vh-40{height: 40vh;}
.vh-45{height: 45vh;}
.vh-50{height: 50vh;}
.vh-55{height: 55vh;}
.vh-60{height: 60vh;}
.vh-65{height: 65vh;}
.vh-70{height: 70vh;}
.vh-75{height: 75vh;}
.vh-80{height: 80vh;}
.vh-85{height: 85vh;}
.vh-90{height: 90vh;}
.vh-95{height: 95vh;}
.vh-100{height: 100vh;}

.min-vh-5{min-height: 5vh;}
.min-vh-10{min-height: 10vh;}
.min-vh-15{min-height: 15vh;}
.min-vh-20{min-height: 20vh;}
.min-vh-25{min-height: 25vh;}
.min-vh-30{min-height: 30vh;}
.min-vh-35{min-height: 35vh;}
.min-vh-40{min-height: 40vh;}
.min-vh-45{min-height: 45vh;}
.min-vh-50{min-height: 50vh;}
.min-vh-55{min-height: 55vh;}
.min-vh-60{min-height: 60vh;}
.min-vh-65{min-height: 65vh;}
.min-vh-70{min-height: 70vh;}
.min-vh-75{min-height: 75vh;}
.min-vh-80{min-height: 80vh;}
.min-vh-85{min-height: 85vh;}
.min-vh-90{min-height: 90vh;}
.min-vh-95{min-height: 95vh;}
.min-vh-100{min-height: 100vh;}

/*
    ------------------------------------------------------ MEDIAQUERIES ------------------------------------------------------
*/
/*
    ------- NAVBAR -------
*/
@media only screen and (max-width: 768px) {
    .nav-ul {
        position: fixed;
        background-color: var(--black);
        padding: 0px 0;
        left: -105%;
        top: 60px;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        z-index: 10;
    }

    .nav-ul.active {
        left: 0;
    }

    .nav-ul::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -1px;
        /*Positionne verticalement la bordure plus la valeur négative est élevée, plus la bordure s'éloigne du bouton.*/
        width: 100%;
        height: 2px;
    }

    .nav-ul::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -1px;
        /*Positionne verticalement la bordure plus la valeur négative est élevée, plus la bordure s'éloigne du bouton.*/
        width: 100%;
        height: 2px;
    }

    .nav-ul::before,
    .nav-ul::after {
        background: var(--green2);
        box-shadow: 0 0 2px var(--green2), 0 0 6px var(--green2), 0 0 10px var(--green2), 0 0 20px var(--green2);
    }

    .header, .select-style select {
        font-size: 12px;
    }

    .header::before, .footer::after {
        background: var(--green2);
        box-shadow: 0 0 2px var(--green2), 0 0 6px var(--green2), 0 0 10px var(--green2), 0 0 20px var(--green2);
    }

    .hamburger {
        position: relative;
        display: block;
        cursor: pointer;
        top: 0;
        right: 10px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}